.theme1
{
	background-color: #084298!important;
	color: white;
}
.theme2
{
	background-color: #55616c!important;
	color: white;
}
.theme3
{
	background-color: #ffc107!important;
}
.steps-input
{
	/* background-color: #fdd40d!important; */
}
.bullish
{
	background-color: #1ddc35!important;
}
.bearish
{
	background-color: #fd0d18!important;
	color: white;
}