.theme1
{
	background-color: #084298!important;
	color: white;
}
.theme2
{
	background-color: #55616c!important;
	color: white;
}
.theme3
{
	background-color: #ffc107!important;
}
.theme4
{
	background-color: Tomato!important;
	color: white;
}
.steps-input
{
	/* background-color: #fdd40d!important; */
}
.bullish
{
	background-color: #198754!important;
	color: white;
}
.bearish
{
	background-color: #dc3545!important;
	color: white;
}


body{
    font-family: cambria;
}
.cursor-pointer {
  cursor: pointer!important;
}

.hiddenRow {
    padding: 0 !important;
}

.table tr {
    cursor: pointer;
}
.bullish-text
{
	color: #198754!important;
	font-weight: bold;
}
.bearish-text
{
	color: #dc3545!important;
	font-weight: bold;
}
.nm-th th
{
	font-weight: normal!important;
}

.form-control:focus,.form-select:focus,.accordion-button:focus,.btnradioBuySell:focus
{
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
button.theme1:hover
{
	color: white;
	opacity: 0.9;
}